{% extends "base.html" %}
{% block content %}
  <h2>My Courses</h2>
  {% if enrollments %}
    <ul>
      {% for enrollment in enrollments %}
        <li>
          <strong>{{ enrollment.course.title }}</strong><br>
          {{ enrollment.course.description }}<br>
          Source: {{ enrollment.course.source }}<br>
          <a href="{{ enrollment.course.url }}" target="_blank">Go to course</a><br>
          Added: {{ enrollment.added_on|date:"M d, Y H:i" }}
        </li>
        <hr>
      {% endfor %}
    </ul>
  {% else %}
    <p>You haven’t added any courses yet.</p>
  {% endif %}
{% endblock %}
