<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Our Team - MyLearnQuest</title>

    <link rel="icon" type="image/webp" href="../static/img/learnquest.png" />
    <link rel="icon" type="image/jpeg" href="../static/img/learnquest.png" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.8/css/line.css"
    />

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <link rel="preload" as="image" href="../static/img/Me.jpg" />
    <link rel="preload" as="image" href="../static/img/habibi.jpg" />
    <link rel="preload" as="image" href="../static/img/avtr2.jpeg" />
    <link rel="preload" as="image" href="../static/img/avtr3.jpeg" />
    <link rel="preload" as="image" href="../static/img/cov.jpg" />
    <link rel="preload" as="image" href="../static/img/avtr5.jpeg" />
    <link rel="preload" as="image" href="../static/img/team4.webp" />
    <link rel="preload" as="image" href="../static/img/team6.webp" />

    <link rel="stylesheet" href="../static/css/team.css" />
  </head>
  <body>
    <div class="container">
        <div class="icon">
            <div class="imgBx active" style="--i:1;" data-id="content1">
                <img src="../static/img/Me.jpg" alt="Frontend_developer">
            </div>

            <div class="imgBx" style="--i:2;" data-id="content2">
                <img src="../static/img/habibi.jpg" alt="Block-Chain Analyst">
            </div>

            <div class="imgBx" style="--i:3;" data-id="content3">
                <img src="../static/img/avtr2.jpeg" alt="Debugger">
            </div>

            <div class="imgBx" style="--i:4;" data-id="content4">
                <img src="../static/img/avtr3.jpeg" alt="Frontend_developer">
            </div>

            <div class="imgBx" style="--i:5;" data-id="content5">
                <img src="../static/img/cov.jpg" alt="Frontend_developer">
            </div>

            <div class="imgBx" style="--i:6;" data-id="content6">
                <img src="../static/img/avtr5.jpeg" alt="Frontend_developer">
            </div>

            <div class="imgBx" style="--i:7;" data-id="content7">
                <img src="../static/img/team4.webp" alt="Frontend_developer">
            </div>

            <div class="imgBx" style="--i:8;" data-id="content8">
                <img src="../static/img/team6.webp" alt="Frontend_developer">
            </div>
        </div>

        <div class="content">
          <div class="contentBx active" id="content1">
            <div class="card">
              <div class="imgBx">
                <img src="../static/img/Me.jpg" alt="CyberCoder">
              </div>
              <div class="textBx">
                <h2>Azeez <br><span>Frontend Lead</span></h2>
                <ul class="sci">
                  <li><a href="#"><i class='bx bxl-facebook' ></i></a></li>
                  <li><a href="#"><i class='bx bxl-instagram' ></i></a></li>
                  <li><a href="#"><i class='bx bxl-linkedin'></i></a></li>
                  <li><a href="#"><i class='bx bxl-twitter bx-tada' ></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="contentBx" id="content2">
            <div class="card">
              <div class="imgBx">
                <img src="../static/img/habibi.jpg" alt="Habeeb">
              </div>
              <div class="textBx">
                <h2>Habeeb <br><span>Frontend Developer</span></h2>
                <ul class="sci">
                  <li><a href="#"><i class='bx bxl-facebook' ></i></a></li>
                  <li><a href="#"><i class='bx bxl-instagram' ></i></a></li>
                  <li><a href="#"><i class='bx bxl-linkedin'></i></a></li>
                  <li><a href="#"><i class='bx bxl-twitter bx-tada' ></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="contentBx" id="content3">
            <div class="card">
              <div class="imgBx">
                <img src="../static/img/avtr2.jpeg" alt="Rhamzy">
              </div>
              <div class="textBx">
                <h2>Rhamzy<br><span>Graphics Designer</span></h2>
                <ul class="sci">
                  <li><a href="#"><i class='bx bxl-facebook bx-tada' ></i></a></li>
                  <li><a href="#"><i class='bx bxl-instagram bx-tada' ></i></a></li>
                  <li><a href="#"><i class='bx bxl-linkedin bx-tada'></i></a></li>
                  <li><a href="#"><i class='bx bxl-twitter bx-tada' ></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="contentBx" id="content4">
            <div class="card">
              <div class="imgBx">
                <img src="../static/img/avtr3.jpeg" alt="Ugoeze">
              </div>
              <div class="textBx">
                <h2>Ugoeze <br><span>Backend Developer</span></h2>
                <ul class="sci">
                  <li><a href="#"><i class='bx bxl-facebook' ></i></a></li>
                  <li><a href="#"><i class='bx bxl-instagram' ></i></a></li>
                  <li><a href="#"><i class='bx bxl-linkedin'></i></a></li>
                  <li><a href="#"><i class='bx bxl-twitter bx-tada' ></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="contentBx" id="content5">
            <div class="card">
              <div class="imgBx">
                <img src="../static/img/cov.jpg" alt="Covenant">
              </div>
              <div class="textBx">
                <h2>Covenant<br><span>Data Analyst</span></h2>
                <ul class="sci">
                  <li><a href="#"><i class='bx bxl-facebook' ></i></a></li>
                  <li><a href="#"><i class='bx bxl-instagram' ></i></a></li>
                  <li><a href="#"><i class='bx bxl-linkedin'></i></a></li>
                  <li><a href="#"><i class='bx bxl-twitter bx-tada' ></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="contentBx" id="content6">
            <div class="card">
              <div class="imgBx">
                <img src="../static/img/avtr5.jpeg" alt="Precious">
              </div>
              <div class="textBx">
                <h2>Precious <br><span>Marketer</span></h2>
                <ul class="sci">
                  <li><a href="#"><i class='bx bxl-facebook' ></i></a></li>
                  <li><a href="#"><i class='bx bxl-instagram' ></i></a></li>
                  <li><a href="#"><i class='bx bxl-linkedin'></i></a></li>
                  <li><a href="#"><i class='bx bxl-twitter bx-tada' ></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- <div class="contentBx" id="content7">
            <div class="card">
              <div class="imgBx">
                <img src="../static/img/team4.webp" alt="Susu">
              </div>
              <div class="textBx">
                <h2>Susu <br><span>Debugger</span></h2>
                <ul class="sci">
                  <li><a href="#"><i class='bx bxl-facebook' ></i></a></li>
                  <li><a href="#"><i class='bx bxl-instagram' ></i></a></li>
                  <li><a href="#"><i class='bx bxl-linkedin'></i></a></li>
                  <li><a href="#"><i class='bx bxl-twitter bx-tada' ></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="contentBx" id="content8">
            <div class="card">
              <div class="imgBx">
                <img src="../static/img/team6.webp" alt="Kachi">
              </div>
              <div class="textBx">
                <h2>Kachi <br><span>Debugger</span></h2>
                <ul class="sci">
                  <li><a href="#"><i class='bx bxl-facebook' ></i></a></li>
                  <li><a href="#"><i class='bx bxl-instagram' ></i></a></li>
                  <li><a href="#"><i class='bx bxl-linkedin'></i></a></li>
                  <li><a href="#"><i class='bx bxl-twitter bx-tada' ></i></a></li>
                </ul>
              </div>
            </div>
          </div> -->
        </div>
    </div>
    <script>

      // Array of image paths
const images = [
  "../static/img/me.jpg",
  "../static/img/habibi.jpg",
  "../static/img/avtr2.jpeg",
  "../static/img/avtr3.jpeg",
  "../static/img/cov.jpg",
  "../static/img/avtr5.jpeg",
  "../static/img/team5.webp",
  "../static/img/team6.webp",
];

      let imgBx = document.querySelectorAll(".imgBx");
let contentBx = document.querySelectorAll(".contentBx");

for(let i = 0; i < imgBx.length; i++){
  imgBx[i].addEventListener('mouseover', function(){
    for(let i = 0; i < contentBx.length; i++){
      contentBx[i].className = 'contentBx';
    }
    document.getElementById(this.dataset.id).className = 'contentBx active';

    for (let i = 0; i < imgBx.length; i++){
      imgBx[i].className = 'imgBx';
    }
    this.className = 'imgBx active';
  })
}
    </script>
  </body>
  </html>
