<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terms and Conditions - MyLearnQuest</title>

    <link rel="icon" type="image/webp" href="../static/img/learnquest.png" />
    <link rel="icon" type="image/jpeg" href="../static/img/learnquest.png" />

    <link rel="stylesheet" href="../static/css/styles.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <link rel="preload" as="image" href="./img/1.webp" />
    <link rel="preload" as="image" href="./img/2.webp" />
    <link rel="preload" as="image" href="./img/3.webp" />
    <link rel="preload" as="image" href="./img/4.webp" />
    <link rel="preload" as="image" href="./img/5.webp" />
    <link rel="preload" as="image" href="./img/6.webp" />
    <link rel="preload" as="image" href="./img/7.webp" />
    <link rel="preload" as="image" href="./img/8.webp" />
  </head>
  <body>
    <header class="page-header">
      <h1>Terms and Conditions</h1>
    </header>

    <main class="content">
      <section>
        <h2>Agreement to Terms</h2>
        <p>
          By using MyLearnQuest , you agree to these Terms and Conditions.
          Please read them carefully before accessing our services.
        </p>
      </section>
      <section>
        <h2>Use of Services</h2>
        <p>
          Our platform is designed for educational purposes. Misuse or unlawful
          activities are prohibited.
        </p>
      </section>
      <section>
        <h2>Payment and Billing</h2>
        <p>
          Users agree to provide accurate billing information. All payments are
          subject to our refund policy.
          <a href="refund_policy.html">Refund Policy</a>
        </p>
      </section>
      <section>
        <h2>Termination</h2>
        <p>
          We reserve the right to suspend or terminate your access if these
          terms are violated.
        </p>
      </section>
    </main>

    <footer class="page-footer">
      <p>© 2025 MyLearnQuest. All rights reserved.</p>
    </footer>

    <!-- test comment -->
    <!-- JavaScript for Background Slideshow -->
    <script src="./background-slideshow.js"></script>
  </body>
</html>
