<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Services - MyLearnQuest</title>

    <link rel="icon" type="image/webp" href="/static/img/learnquest.png" />
    <link rel="icon" type="image/jpeg" href="/static/img/learnquest.png" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.8/css/line.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link rel="stylesheet" href="../static/css/service.css" />
  </head>

  <body>
    <img
      class="image-gradient"
      src="../static/img/gradient.png"
      alt="A gradient background image"
    />
    <div class="layer-blur"></div>

    <div class="container">
      <header>
        <h1 data-aos="fade-down" data-aos-duration="1500" class="logo">
          MyLearnQuest's Services
        </h1>

        <nav>
          <a
            data-aos="fade-down"
            data-aos-duration="1500"
            href="/"
            >Home</a
          >
          <a
            data-aos="fade-down"
            data-aos-duration="2000"
            href="/service"
            >Service</a
          >
          <a
            data-aos="fade-down"
            data-aos-duration="2500"
            href="/contact"
            >Contact</a
          >
          <a
            data-aos="fade-down"
            data-aos-duration="3000"
            href="/team"
            >Team</a
          >
        </nav>

        <button
          data-aos="fade-down"
          data-aos-duration="1500"
          type="button"
          class="btn-signing"
        >
          LOGIN
        </button>
      </header>

      <main>
        <div class="content">
          <div  data-aos="fade-zoom-in"
          data-aos-easing="ease-in-back"
          data-aos-delay="300"
          data-aos-offset="0" data-aos-duration="1500" class="tag-box">
            <div class="tag">INTRODUCING MYLEARNQUEST &vert;</div>
          </div>

          <h1 data-aos="fade-zoom-in"
          data-aos-easing="ease-in-back"
          data-aos-delay="300"
          data-aos-offset="0" data-aos-duration="2000">ONE-STOP FOR <br />STUDENTS</h1>

          <p data-aos="fade-zoom-in"
          data-aos-easing="ease-in-back"
          data-aos-delay="300"
          data-aos-offset="0" data-aos-duration="2500" class="description">
            MyLearnQuest is not just a website; it is a haven for students,
            developers and others who are driven by a thirst for knowledge and a
            passion for learning. Expertly crafted by a team of visionary
            developers, MyLearnQuest opens the door to boundless opportunities for
            students around the world. Here, learning knows no limits.
          </p>

          <p data-aos="fade-zoom-in"
          data-aos-easing="ease-in-back"
          data-aos-delay="300"
          data-aos-offset="0" data-aos-duration="3000" class="description">
            With MyLearnQuest, students can dive into a vast array of topics across
            every field of study, guided by expert tutors who dedicate their
            time, energy, and heart to helping students succeed. These tutors
            are more than educators—they are mentors, lighting the way to
            understanding with clarity and care.
          </p>

          <p data-aos="fade-zoom-in"
          data-aos-easing="ease-in-back"
          data-aos-delay="300"
          data-aos-offset="0" data-aos-duration="3500" class="description">
            MyLearnQuest goes beyond teaching; it empowers students to engage,
            challenge, and grow through interactive quizzes, meaningful
            certifications, and a seamless progress-tracking feature that makes
            continuing their journey as simple as picking up a book where they
            last left off.
          </p>

          <p data-aos="fade-zoom-in"
          data-aos-easing="ease-in-back"
          data-aos-delay="300"
          data-aos-offset="0" data-aos-duration="4000" class="description">
            Fueled by the dedication of our incredible development team, the
            expertise of our passionate tutors, and the strength of our
            cutting-edge database, MyLearnQuest has transformed education into an
            accessible, enjoyable, and truly global experience. Together, we are
            redefining what it means to learn—making it not only seamless but
            also truly inspiring.
          </p>

          <p data-aos="fade-zoom-in"
          data-aos-easing="ease-in-back"
          data-aos-delay="300"
          data-aos-offset="0" data-aos-duration="4500" class="description">
            Join the MyLearnQuest community and let us help you unlock the door to
            your brightest future.
          </p>

          <div data-aos="fade-zoom-in"
          data-aos-easing="ease-in-back"
          data-aos-delay="300"
          data-aos-offset="0" data-aos-duration="5000" class="buttons">
            <a href="/team" class="btn-get-started">Documentation &gt;</a>
            <a href="/login" class="btn-signing-main">Get Started &gt;</a>
          </div>
        </div>
      </main>

      <spline-viewer data-aos="fade-zoom-in"
      data-aos-easing="ease-in-back"
      data-aos-delay="300"
      data-aos-offset="0" data-aos-duration="5500"
        class="robot-3d"
        url="https://prod.spline.design/1dcxapFMBHoCIfHs/scene.splinecode"
      ></spline-viewer>
    </div>

    <script
      type="module"
      src="https://unpkg.com/@splinetool/viewer@1.9.72/build/spline-viewer.js"
    ></script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      // Initialize AOS for animations
      AOS.init();
    </script>
  </body>
</html>